body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252366;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: sans-serif;
}

span:before {
  content: "Transitions";
  text-transform: uppercase;
  font-family: sans-serif;
  color:aquamarine;
  animation: word-switch 5s infinite;
}

@keyframes word-switch {
  0% { content: "transitions" }

  50% { content: "animations" }

  100% { content: "transforms" }
}
